.App {
  text-align: center;
}
.author{
  color:gray;
}

.Card{
  margin-top:10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.time{
  color:gray;
  font-size:12px;
  font-style: italic;
}
.container{
  background-color:rgb(236, 236, 213);
  
}

.optionsMessage {
  background-color: rgb(244, 253, 226);
  padding: 1em;
  border-radius: 4px;
  display: flex;
  position: absolute;
  flex-direction: column;
  box-shadow: 1px 1px 5px #000;
  border:1px solid green;
  top: 5%;
  list-style:none;
}

.spinner{
 margin-top: 10%;
}

.col{
  padding:0px;
}

.formulario{
  padding-left:65px;
  padding-right:65px;
  margin-top:30px;
}

.button{
  padding-left:65px;
}
.pcItem{
  margin-right: 50%;
}

.containerMsg{
  display:flex;
  flex-direction: column;
}

#pc{
  margin-top:20px;
  margin-left: 880px;
}

#yo{
  margin-top:15px;
  margin-left: 20px;
}



